body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #020617;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero span {
    color: #00f7ff;
}

.profile-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00f7ff;
    box-shadow: 0 0 25px #00f7ff;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

.social-icons i {
    font-size: 26px;
    margin: 12px;
    color: #00f7ff;
    transition: 0.3s;
}

.social-icons i:hover {
    transform: scale(1.4) rotate(10deg);
    text-shadow: 0 0 15px #00f7ff;
}

.section-dark {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #00f7ff;
    margin: 10px auto;
    box-shadow: 0 0 15px #00f7ff;
}

.skill-card,
.project-card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    transition: 0.4s;
}

.skill-card:hover,
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px #00f7ff;
}

.skill-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #00f7ff;
}

.about-list {
    list-style: none;
    padding: 0;
}

.about-list li {
    margin: 12px 0;
    font-size: 16px;
}

.about-list i {
    color: #00f7ff;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}
